*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	margin:0;
	padding:0;
}

.jumbotron{
	margin: 20px 70px 5px 70px;
	text-align: center;

}
.jumbotron h1{
	font-weight: bold;
}

#container .jumbotron{
	margin:0;
	padding:10px;
}


#container{
	margin-top:10px;
	margin-right:70px;
	margin-left:70px;
}


#container .jumbotron{
	border-radius:0;

}

form{
	margin:10px;
}


.l-panel-container{
	border:1px solid #a7a3a3;

}

.r-panel-container{
	border:1px solid #a7a3a3;
}
.right-panel-body{
	padding:10px;
	margin:10px;
}

.right-panel-body h2{
	font-size: 12px;
}

